@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  width: 1440px;
  height: 692px;
}

.dashboard {
  margin-top: 80px;
  margin-left: 165px;
  margin-right: 165px;

  img {
    padding-left: 30px;
    float: right;
    width: 635px;
    height: 532px;
  }
  h2 {
    padding-top: 58px;
    padding-bottom: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.699999988079071px;
    text-align: left;
  }
  p {
    margin-bottom: 24px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
}

.pricecontainer {
  margin-left: 165px;
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.dollar {
  margin-top: 31px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #c4c4c4;
  text-decoration: line-through;
}

.dollar2 {
  padding-right: 16px;
  margin-top: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
}

.button {
  margin-top: 32px;
  padding: 16px 40px 16px 40px;
  gap: 16px;
  border-radius: 3px;
  opacity: 0px;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  text-align: center;
  margin-left: 165px;
}
